<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
      <div class="container-fluid">
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarCenteredExample"
        >
          <!-- Left links -->
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/article/myArticlespage"
              >
                <h4><b>My Articles</b></h4>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/users/profile">
                <h4><b>Profile</b></h4></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/article/getAllArticle">
                <h4><b>Explorer</b></h4>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
